* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Archivo Black', sans-serif;
    background-image: url("img/cafefundo.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 15px 40px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    font-size: 24px;
    color: #b8860b;
    cursor: pointer;
}

.nav-item {
    text-decoration: none;
    font-family: 'Archivo Black', sans-serif;
    color: black;
    padding: 8px 20px;
    border-radius: 30px;
    transition: 0.3s;
}

.nav-item:hover {
    background-color: #f2b705;
}

.nav-item.active {
    background-color: #f2b705;
}
.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}


.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.hero {
    position: relative;
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.hero-content {
    position: relative;
    max-width: 700px;
    color: white;
}


.top-info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 140px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 45px;
}

.circle-icon img {
    width: 10%;
    height: 10%;
    
}
/* Título */
.hero h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 70px;
    line-height: 1.1;
}

.hero h1 span {
    color: #f2b705;
}

/* Subtítulo */
.subtitle {
    font-size: 24px;
    margin: 20px 0 10px 0;
}

/* Descrição */
.description {
    font-size: 18px;
    max-width: 600px;
    margin-bottom: 30px;
}

/* Botões */
.buttons {
    display: flex;
    gap: 20px;
}

.btn-primary {
    background-color: #f2b705;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #ffa500;
}

.btn-secondary {
    background-color: white;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: #e6e6e6;
}
