*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url(img/cafefundo.png); 
}

/* Card principal */
.container{
    width:350px;
    padding:40px;
    border-radius:20px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    border:1px solid rgba(255,255,255,0.2);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    color:white;
}

/* Título */
.container h1{
    text-align:center;
    margin-bottom:30px;
    font-weight:600;
}

/* Inputs */
.input-box{
    position:relative;
    margin-bottom:20px;
}

.input-box input{
    width:100%;
    padding:12px 45px 12px 20px;
    border-radius:30px;
    border:1px solid rgba(255,255,255,0.3);
    outline:none;
    background: transparent;
    color:white;
}

.input-box input::placeholder{
    color:#ddd;
}

/* Opções */
.options{
    display:flex;
    justify-content:space-between;
    font-size:14px;
    margin-bottom:20px;
}

.options a{
    color:#fff;
    text-decoration:none;
}

/* Botão */
button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:30px;
    background:white;
    color:#6a11cb;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

/* Registro */
.register{
    text-align:center;
    margin-top:20px;
    font-size:14px;
}

.register a{
    color:#fff;
    font-weight:600;
    text-decoration:none;
}